* {
  box-sizing: border-box;

}

.main-Box {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Castoro', serif;
  
}

.nav-links {
  margin-top:20px;
  margin-right: 20px;
  font-size: 16px;
  align-self: flex-end;
}
.nav-links a {
  margin:10px;
}

#sign_Btn{
  padding:6px;
  background-color: rgba(194, 70, 25, 0.781);
  color:white;
  border-radius: 1px;
  text-decoration: none;
}
#logo_img{

margin-bottom: 15px;
}


#search_field {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 50px;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.205);
  text-decoration: none;
  cursor: text;
  outline: none;
  padding-left: 40px;
  background: white url(../img/src_icon.png) left no-repeat;
  background-size: 16px 16px;
  background-position-x: 14px;
}

.center-form button {
  padding: 8px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.637);
  background-color:rgba(229, 235, 224, 0.37);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px;
 
}

.footer-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  padding:15px;
  border-top:1px solid rgba(109, 95, 93, 0.185);
  background: rgba(128, 128, 128, 0.26);
}

.footer_left.footer_right,
a {
  padding-left: 1vw;
  padding-right:1vw;
}

/* GENERAL RULES */
a {
  color: rgba(0, 0, 0, 0.637);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul {
  list-style: none;
  text-align: center;
  padding:0px;
}


ul button {
  margin:5px;
  
}


button:hover{
  border:1px solid rgba(158, 142, 142, 0.356);
  box-shadow: 0.5px 0.5px gray;
  border-width: thin;
  border-radius: 3px;
}






